<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nuc.light_system.mappers.GroupInfoMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="edu.nuc.light_system.entity.po.GroupInfo">
		<!--分组主键-->
		<id column="group_id" property="groupId"/>
		<!--分组名称-->
		<result column="group_name" property="groupName"/>
		<!--创建时间-->
		<result column="create_time" property="createTime"/>
		<!--创建人-->
		<result column="create_people" property="createPeople"/>
	</resultMap>

	<!--通用查询结果列-->
	<sql id="base_column_list">
		group_id,group_name,create_time,create_people
	</sql>

	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.groupId != null and query.groupId!=''">
			and group_id = #{query.groupId}
		</if>
		<if test="query.groupName != null and query.groupName!=''">
			and group_name = #{query.groupName}
		</if>
		<if test="query.createTime != null">
			and create_time = #{query.createTime}
		</if>
		<if test="query.createPeople != null and query.createPeople!=''">
			and create_people = #{query.createPeople}
		</if>
	</sql>

	<!--扩展查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.groupIdFuzzy != null and query.groupIdFuzzy !=''">
			and group_id like concat('%',#{query.groupIdFuzzy},'%')
		</if>
		<if test="query.groupNameFuzzy != null and query.groupNameFuzzy !=''">
			and group_name like concat('%',#{query.groupNameFuzzy},'%')
		</if>
		<if test="query.createTimeStart != null and query.createTimeStart !=''">
			<![CDATA[ and create_time >= str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.createTimeEnd != null and query.createTimeEnd !=''">
			<![CDATA[ and create_time < date_sub(str_to_date(#{query.createTimeEnd}, '%Y-%m-%d'),interval -1 day) ]]>
		</if>
		<if test="query.createPeopleFuzzy != null and query.createPeopleFuzzy !=''">
			and create_people like concat('%',#{query.createPeopleFuzzy},'%')
		</if>
	</sql>

	<!--扩展查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>

	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM group_info<include refid="query_condition"/>
		<if test="query.orderBy!=null">order by ${query.orderBy}</if>
		<if test="query.simplePage!=null">limit #{query.simplePage.start},#{query.simplePage.end}</if>
	</select>

	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT count(1) FROM group_info <include refid="query_condition"/>
	</select>

	<!--插入(匹配有值的字段)-->
	<insert id="insert" parameterType="edu.nuc.light_system.entity.po.GroupInfo">
		INSERT INTO group_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.groupId !=null">
				group_id,
			</if>
			<if test="bean.groupName !=null">
				group_name,
			</if>
			<if test="bean.createTime !=null">
				create_time,
			</if>
			<if test="bean.createPeople !=null">
				create_people,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.groupId!=null">
				#{bean.groupId},
			</if>
			<if test="bean.groupName!=null">
				#{bean.groupName},
			</if>
			<if test="bean.createTime!=null">
				#{bean.createTime},
			</if>
			<if test="bean.createPeople!=null">
				#{bean.createPeople},
			</if>
		</trim>
	</insert>

	<!-- 插入或更新(匹配有值的字段) -->
	<insert id="insertOrUpdate" parameterType="edu.nuc.light_system.entity.po.GroupInfo">
		INSERT INTO group_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.groupId !=null">
				group_id,
			</if>
			<if test="bean.groupName !=null">
				group_name,
			</if>
			<if test="bean.createTime !=null">
				create_time,
			</if>
			<if test="bean.createPeople !=null">
				create_people,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.groupId!=null">
				#{bean.groupId},
			</if>
			<if test="bean.groupName!=null">
				#{bean.groupName},
			</if>
			<if test="bean.createTime!=null">
				#{bean.createTime},
			</if>
			<if test="bean.createPeople!=null">
				#{bean.createPeople},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.groupName!=null">
				group_name = VALUES(group_name),
			</if>
			<if test="bean.createTime!=null">
				create_time = VALUES(create_time),
			</if>
			<if test="bean.createPeople!=null">
				create_people = VALUES(create_people),
			</if>
		</trim>
	</insert>

	<!-- 添加(批量插入) -->
	<insert id="insertBatch" parameterType="edu.nuc.light_system.entity.po.GroupInfo">
		INSERT INTO group_info(group_id,group_name,create_time,create_people)values
		<foreach collection="list" item="item" separator="," >
			(#{item.groupId},#{item.groupName},#{item.createTime},#{item.createPeople})
		</foreach>
	</insert>

	<!-- 批量插入或更新(批量插入) -->
	<insert id="insertOrUpdateBatch" parameterType="edu.nuc.light_system.entity.po.GroupInfo">
		INSERT INTO group_info(group_id,group_name,create_time,create_people)values
		<foreach collection="list" item="item" separator="," >
			(#{item.groupId},#{item.groupName},#{item.createTime},#{item.createPeople})
		</foreach>
		on DUPLICATE key update
		group_id = VALUES(group_id),group_name = VALUES(group_name),create_time = VALUES(create_time),create_people = VALUES(create_people)
	</insert>

	<!-- 根据GroupId查询-->
	<select id="selectByGroupId" resultMap="base_result_map">
		select <include refid="base_column_list"/>  from group_info where group_id=#{groupId}
	</select>

	<!-- 根据GroupId更新-->
	<update id="updateByGroupId" parameterType="edu.nuc.light_system.entity.po.GroupInfo">
		update group_info
		<set>
			<if test="bean.groupId != null">
				group_id = #{bean.groupId},
			</if>
			<if test="bean.groupName != null">
				group_name = #{bean.groupName},
			</if>
			<if test="bean.createTime != null">
				create_time = #{bean.createTime},
			</if>
			<if test="bean.createPeople != null">
				create_people = #{bean.createPeople},
			</if>

		</set>
		where group_id=#{groupId}
</update>


	<!-- 根据GroupId删除-->
	<delete id="deleteByGroupId">
		delete from group_info where group_id=#{groupId}
</delete>

</mapper>