<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nuc.light_system.mappers.ResultInfoMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="edu.nuc.light_system.entity.po.ResultInfo">
		<!--自增id-->
		<id column="id" property="id"/>
		<!--告警工单id-->
		<result column="order_id" property="orderId"/>
		<!--处理人员id-->
		<result column="user_id" property="userId"/>
		<!--备注信息-->
		<result column="info" property="info"/>
		<!--处理时间-->
		<result column="repair_time" property="repairTime"/>
	</resultMap>

	<!--通用查询结果列-->
	<sql id="base_column_list">
		id,order_id,user_id,info,repair_time
	</sql>

	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.id != null">
			and id = #{query.id}
		</if>
		<if test="query.orderId != null">
			and order_id = #{query.orderId}
		</if>
		<if test="query.userId != null and query.userId!=''">
			and user_id = #{query.userId}
		</if>
		<if test="query.info != null and query.info!=''">
			and info = #{query.info}
		</if>
		<if test="query.repairTime != null">
			and repair_time = #{query.repairTime}
		</if>
	</sql>

	<!--扩展查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.userIdFuzzy != null and query.userIdFuzzy !=''">
			and user_id like concat('%',#{query.userIdFuzzy},'%')
		</if>
		<if test="query.infoFuzzy != null and query.infoFuzzy !=''">
			and info like concat('%',#{query.infoFuzzy},'%')
		</if>
		<if test="query.repairTimeStart != null and query.repairTimeStart !=''">
			<![CDATA[ and repair_time >= str_to_date(#{query.repairTimeStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.repairTimeEnd != null and query.repairTimeEnd !=''">
			<![CDATA[ and repair_time < date_sub(str_to_date(#{query.repairTimeEnd}, '%Y-%m-%d'),interval -1 day) ]]>
		</if>
	</sql>

	<!--扩展查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>

	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM result_info<include refid="query_condition"/>
		<if test="query.orderBy!=null">order by ${query.orderBy}</if>
		<if test="query.simplePage!=null">limit #{query.simplePage.start},#{query.simplePage.end}</if>
	</select>

	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT count(1) FROM result_info <include refid="query_condition"/>
	</select>

	<!--插入(匹配有值的字段)-->
	<insert id="insert" parameterType="edu.nuc.light_system.entity.po.ResultInfo">
		<selectKey keyProperty="bean.id" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO result_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id !=null">
				id,
			</if>
			<if test="bean.orderId !=null">
				order_id,
			</if>
			<if test="bean.userId !=null">
				user_id,
			</if>
			<if test="bean.info !=null">
				info,
			</if>
			<if test="bean.repairTime !=null">
				repair_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				#{bean.id},
			</if>
			<if test="bean.orderId!=null">
				#{bean.orderId},
			</if>
			<if test="bean.userId!=null">
				#{bean.userId},
			</if>
			<if test="bean.info!=null">
				#{bean.info},
			</if>
			<if test="bean.repairTime!=null">
				#{bean.repairTime},
			</if>
		</trim>
	</insert>

	<!-- 插入或更新(匹配有值的字段) -->
	<insert id="insertOrUpdate" parameterType="edu.nuc.light_system.entity.po.ResultInfo">
		INSERT INTO result_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id !=null">
				id,
			</if>
			<if test="bean.orderId !=null">
				order_id,
			</if>
			<if test="bean.userId !=null">
				user_id,
			</if>
			<if test="bean.info !=null">
				info,
			</if>
			<if test="bean.repairTime !=null">
				repair_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				#{bean.id},
			</if>
			<if test="bean.orderId!=null">
				#{bean.orderId},
			</if>
			<if test="bean.userId!=null">
				#{bean.userId},
			</if>
			<if test="bean.info!=null">
				#{bean.info},
			</if>
			<if test="bean.repairTime!=null">
				#{bean.repairTime},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.orderId!=null">
				order_id = VALUES(order_id),
			</if>
			<if test="bean.userId!=null">
				user_id = VALUES(user_id),
			</if>
			<if test="bean.info!=null">
				info = VALUES(info),
			</if>
			<if test="bean.repairTime!=null">
				repair_time = VALUES(repair_time),
			</if>
		</trim>
	</insert>

	<!-- 添加(批量插入) -->
	<insert id="insertBatch" parameterType="edu.nuc.light_system.entity.po.ResultInfo">
		INSERT INTO result_info(order_id,user_id,info,repair_time)values
		<foreach collection="list" item="item" separator="," >
			(#{item.orderId},#{item.userId},#{item.info},#{item.repairTime})
		</foreach>
	</insert>

	<!-- 批量插入或更新(批量插入) -->
	<insert id="insertOrUpdateBatch" parameterType="edu.nuc.light_system.entity.po.ResultInfo">
		INSERT INTO result_info(order_id,user_id,info,repair_time)values
		<foreach collection="list" item="item" separator="," >
			(#{item.orderId},#{item.userId},#{item.info},#{item.repairTime})
		</foreach>
		on DUPLICATE key update
		id = VALUES(id),order_id = VALUES(order_id),user_id = VALUES(user_id),info = VALUES(info),repair_time = VALUES(repair_time)
	</insert>

	<!-- 根据Id查询-->
	<select id="selectById" resultMap="base_result_map">
		select <include refid="base_column_list"/>  from result_info where id=#{id}
	</select>

	<!-- 根据Id更新-->
	<update id="updateById" parameterType="edu.nuc.light_system.entity.po.ResultInfo">
		update result_info
		<set>
			<if test="bean.id != null">
				id = #{bean.id},
			</if>
			<if test="bean.orderId != null">
				order_id = #{bean.orderId},
			</if>
			<if test="bean.userId != null">
				user_id = #{bean.userId},
			</if>
			<if test="bean.info != null">
				info = #{bean.info},
			</if>
			<if test="bean.repairTime != null">
				repair_time = #{bean.repairTime},
			</if>

		</set>
		where id=#{id}
</update>


	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from result_info where id=#{id}
</delete>

</mapper>