<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nuc.light_system.mappers.UserInfoMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="edu.nuc.light_system.entity.po.UserInfo">
		<!--用户id-->
		<id column="user_id" property="userId"/>
		<!--手机号-->
		<result column="phone" property="phone"/>
		<!--名称-->
		<result column="nick_name" property="nickName"/>
		<!--密码-->
		<result column="password" property="password"/>
		<!--创建时间-->
		<result column="create_time" property="createTime"/>
		<!--权限：0：普通用户，1：运维人员，2；管理员-->
		<result column="right" property="right"/>
	</resultMap>

	<!--通用查询结果列-->
	<sql id="base_column_list">
		user_id,phone,nick_name,password,create_time,`right`
	</sql>

	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.userId != null and query.userId!=''">
			and user_id = #{query.userId}
		</if>
		<if test="query.phone != null and query.phone!=''">
			and phone = #{query.phone}
		</if>
		<if test="query.nickName != null and query.nickName!=''">
			and nick_name = #{query.nickName}
		</if>
		<if test="query.password != null and query.password!=''">
			and password = #{query.password}
		</if>
		<if test="query.createTime != null">
			and create_time = #{query.createTime}
		</if>
		<if test="query.right != null">
			and `right` = #{query.right}
		</if>
	</sql>

	<!--扩展查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.userIdFuzzy != null and query.userIdFuzzy !=''">
			and user_id like concat('%',#{query.userIdFuzzy},'%')
		</if>
		<if test="query.phoneFuzzy != null and query.phoneFuzzy !=''">
			and phone like concat('%',#{query.phoneFuzzy},'%')
		</if>
		<if test="query.nickNameFuzzy != null and query.nickNameFuzzy !=''">
			and nick_name like concat('%',#{query.nickNameFuzzy},'%')
		</if>
		<if test="query.passwordFuzzy != null and query.passwordFuzzy !=''">
			and password like concat('%',#{query.passwordFuzzy},'%')
		</if>
		<if test="query.createTimeStart != null and query.createTimeStart !=''">
			<![CDATA[ and create_time >= str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.createTimeEnd != null and query.createTimeEnd !=''">
			<![CDATA[ and create_time < date_sub(str_to_date(#{query.createTimeEnd}, '%Y-%m-%d'),interval -1 day) ]]>
		</if>
	</sql>

	<!--扩展查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>

	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM user_info<include refid="query_condition"/>
		<if test="query.orderBy!=null">order by ${query.orderBy}</if>
		<if test="query.simplePage!=null">limit #{query.simplePage.start},#{query.simplePage.end}</if>
	</select>

	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT count(1) FROM user_info <include refid="query_condition"/>
	</select>

	<!--插入(匹配有值的字段)-->
	<insert id="insert" parameterType="edu.nuc.light_system.entity.po.UserInfo">
		INSERT INTO user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.userId !=null">
				user_id,
			</if>
			<if test="bean.phone !=null">
				phone,
			</if>
			<if test="bean.nickName !=null">
				nick_name,
			</if>
			<if test="bean.password !=null">
				password,
			</if>
			<if test="bean.createTime !=null">
				create_time,
			</if>
			<if test="bean.right !=null">
				`right`,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.userId!=null">
				#{bean.userId},
			</if>
			<if test="bean.phone!=null">
				#{bean.phone},
			</if>
			<if test="bean.nickName!=null">
				#{bean.nickName},
			</if>
			<if test="bean.password!=null">
				#{bean.password},
			</if>
			<if test="bean.createTime!=null">
				#{bean.createTime},
			</if>
			<if test="bean.right!=null">
				#{bean.right},
			</if>
		</trim>
	</insert>

	<!-- 插入或更新(匹配有值的字段) -->
	<insert id="insertOrUpdate" parameterType="edu.nuc.light_system.entity.po.UserInfo">
		INSERT INTO user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.userId !=null">
				user_id,
			</if>
			<if test="bean.phone !=null">
				phone,
			</if>
			<if test="bean.nickName !=null">
				nick_name,
			</if>
			<if test="bean.password !=null">
				password,
			</if>
			<if test="bean.createTime !=null">
				create_time,
			</if>
			<if test="bean.right !=null">
				`right`,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.userId!=null">
				#{bean.userId},
			</if>
			<if test="bean.phone!=null">
				#{bean.phone},
			</if>
			<if test="bean.nickName!=null">
				#{bean.nickName},
			</if>
			<if test="bean.password!=null">
				#{bean.password},
			</if>
			<if test="bean.createTime!=null">
				#{bean.createTime},
			</if>
			<if test="bean.right!=null">
				#{bean.right},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.nickName!=null">
				nick_name = VALUES(nick_name),
			</if>
			<if test="bean.password!=null">
				password = VALUES(password),
			</if>
			<if test="bean.createTime!=null">
				create_time = VALUES(create_time),
			</if>
			<if test="bean.right!=null">
				`right` = VALUES(`right`),
			</if>
		</trim>
	</insert>

	<!-- 添加(批量插入) -->
	<insert id="insertBatch" parameterType="edu.nuc.light_system.entity.po.UserInfo">
		INSERT INTO user_info(user_id,phone,nick_name,password,create_time,`right`)values
		<foreach collection="list" item="item" separator="," >
			(#{item.userId},#{item.phone},#{item.nickName},#{item.password},#{item.createTime},#{item.right})
		</foreach>
	</insert>

	<!-- 批量插入或更新(批量插入) -->
	<insert id="insertOrUpdateBatch" parameterType="edu.nuc.light_system.entity.po.UserInfo">
		INSERT INTO user_info(user_id,phone,nick_name,password,create_time,`right`)values
		<foreach collection="list" item="item" separator="," >
			(#{item.userId},#{item.phone},#{item.nickName},#{item.password},#{item.createTime},#{item.right})
		</foreach>
		on DUPLICATE key update
		user_id = VALUES(user_id),phone = VALUES(phone),nick_name = VALUES(nick_name),password = VALUES(password),create_time = VALUES(create_time),`right` = VALUES(`right`)
	</insert>

	<!-- 根据UserId查询-->
	<select id="selectByUserId" resultMap="base_result_map">
		select <include refid="base_column_list"/>  from user_info where user_id=#{userId}
	</select>

	<!-- 根据UserId更新-->
	<update id="updateByUserId" parameterType="edu.nuc.light_system.entity.po.UserInfo">
		update user_info
		<set>
			<if test="bean.userId != null">
				user_id = #{bean.userId},
			</if>
			<if test="bean.phone != null">
				phone = #{bean.phone},
			</if>
			<if test="bean.nickName != null">
				nick_name = #{bean.nickName},
			</if>
			<if test="bean.password != null">
				password = #{bean.password},
			</if>
			<if test="bean.createTime != null">
				create_time = #{bean.createTime},
			</if>
			<if test="bean.right != null">
				`right` = #{bean.right},
			</if>

		</set>
		where user_id=#{userId}
</update>


	<!-- 根据UserId删除-->
	<delete id="deleteByUserId">
		delete from user_info where user_id=#{userId}
</delete>

	<!-- 根据Phone查询-->
	<select id="selectByPhone" resultMap="base_result_map">
		select <include refid="base_column_list"/>  from user_info where phone=#{phone}
	</select>

	<!-- 根据Phone更新-->
	<update id="updateByPhone" parameterType="edu.nuc.light_system.entity.po.UserInfo">
		update user_info
		<set>
			<if test="bean.userId != null">
				user_id = #{bean.userId},
			</if>
			<if test="bean.phone != null">
				phone = #{bean.phone},
			</if>
			<if test="bean.nickName != null">
				nick_name = #{bean.nickName},
			</if>
			<if test="bean.password != null">
				password = #{bean.password},
			</if>
			<if test="bean.createTime != null">
				create_time = #{bean.createTime},
			</if>
			<if test="bean.right != null">
				`right` = #{bean.right},
			</if>

		</set>
		where phone=#{phone}
</update>


	<!-- 根据Phone删除-->
	<delete id="deleteByPhone">
		delete from user_info where phone=#{phone}
</delete>

</mapper>