.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-primary);
}

.pager {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

